<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find da_vincibot_description)/urdf/da_vincibot.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model da_vincibot"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <rosparam file="$(find da_vincibot_description)/launch/controller.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
      args="joint1_shoulder_position_controller 
            joint2_forearm_position_controller 
            joint3_hand_position_controller 
            joint4_handyaw_position_controller 
            joint5_end_position_controller 
            joint_state_controller "/>
</launch>
