<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vinci">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import vinci urdf file -->
    <xacro:include filename="$(find vinci_description)/urdf/vinci.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="vinci.ros2_control.xacro" />


    <xacro:vinci_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
